<!DOCTYPE html>
<html>

<head>
  <title>DOWN | A Creative Agency</title>
  <meta name="description" content="A creative agency focused on doing good.">
  <link rel="icon" type="image/png" href="/assets/images/alien.png">
  <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  {{!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script> --}}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-1 navCol">
        <div class="navPlaceholder">
          <div class="menuIcon">
            <img src="assets/images/group-2.png" />
          </div>
          <div class="logoImg">
            <img src="assets/images/DOWN_Logo.png" />
          </div>
        </div>
      </nav>

      {{{ body }}}
    </div>
  </div>
</body>

</html>