<main class="col-11 mainCol">
	<section class="row" id="fullVH">
		<section class="row topNav">
			<ul class="topNavList nav">
				<li class="nav-item" id="about">
					<a class="nav-link active" href="/">About Us</a>
				</li>
				<li class="nav-item" id="process">
					<a class="nav-link" href="/process">Our Process</a>
				</li>
				<li class="nav-item" id="ourWork">
					<a class="nav-link" href="">Our Work</a>
				</li>
				<li class="nav-item" id="articles">
					<a class="nav-link" href="#">Articles</a>
				</li>
				<li class="nav-item coral" id="chat">
					<a class="nav-link" href="/#contactFormSection">Let's Chat</a>
				</li>
			</ul>
		</section>
		<section class="row justify-content-center align-items-center" id="tagline">
			<div class="col-8">
				<div class="coral taglineTop col-12">
					<p><span id="dash">—</span> A Creative Agency that designs for good</p>
				</div>
				<div class="taglineBottom col-12">
					<p>We do great work
						because we’ve got
						great people.</p>
				</div>
			</div>
		</section>
	</section>
	<section class="row" id="aboutBanner">
		<div class="col-12" id="aboutBannerImg"></div>
	</section>


	<section class="row justify-content-center" id="staffSection">
		<div class="col-5">
			<div class="staffPic"></div>
			<p class="staffName">Philip J. Walker</p>
			<p class="staffPosition">director of client relations</p>
		</div>
		<div class="col-5">
			<div class="staffPic"></div>
			<p class="staffName">Peter Gibb</p>
			<p class="staffPosition">creative director</p>
		</div>
		<div class="col-5">
			<div class="staffPic"></div>
			<p class="staffName">Maiya Stoessel</p>
			<p class="staffPosition">j<span>r</span>. account executive</p>
		</div>
		<div class="col-5">
			<div class="staffPic"></div>
			<p class="staffName">Jan Corigan</p>
			<p class="staffPosition">marketing strategy</p>
		</div>
		<div class="col-5">
			<div class="staffPic"></div>
			<p class="staffName">Richard Pierce</p>
			<p class="staffPosition">accounting</p>
		</div>
		<div class="col-5">
			<div class="staffPic"></div>
			<p class="staffName">Jude Prestia</p>
			<p class="staffPosition">lead developer</p>
		</div>
	</section>

	<section id="footerSection" class="col-12">
		<div id="footerContainer">
			<div id="footerLeft">
				<div class="locationCont">
					<p>PHYSICAL</p>
				</div>
				<div id="address">
					<p id="compName">DOWN CREATIVE</p>
					<p>700 12th St. NW Suite 700, Washington, DC 20005</p>
					<p><img class="phoneImg" src="assets/images/phone.png" />(202) 904-2307</p>
				</div>
			</div>
			<div id="footerRight">
				<div class="locationCont">
					<p>DIGITAL</p>
				</div>
				<div id="socialCont">
					<a id="linkedin" href="#" target="_blank"><img src="assets/images/linkedin2.png" /></a>
					<a id="twitter" href="#" target="_blank"><img src="assets/images/twitter2.png" /></a>
					<a id="instagram" href="#" target="_blank"><img src="assets/images/instragram1.png" /></a>
				</div>
			</div>
		</div>
	</section>
</main>