<main class="col-11 mainCol">
	<section class="row" id="fullVH">
		<section class="row topNav">
			<ul class="topNavList nav">
				<li class="nav-item" id="about">
					<a class="nav-link active" href="/">About Us</a>
				</li>
				<li class="nav-item" id="process">
					<a class="nav-link" href="/process">Our Process</a>
				</li>
				<li class="nav-item" id="ourWork">
					<a class="nav-link" href="">Our Work</a>
				</li>
				<li class="nav-item" id="articles">
					<a class="nav-link" href="#">Articles</a>
				</li>
				<li class="nav-item coral" id="chat">
					<a class="nav-link" href="#">Let's Chat</a>
				</li>
			</ul>
		</section>
		<section class="row justify-content-center align-items-center" id="tagline">
			<div class="col-8">
				<div class="coral taglineTop col-12">
					<p><span id="dash">—</span> A Creative Agency that designs for good</p>
				</div>
				<div class="taglineBottom col-12">
					<p>When it's a cause that really matters...</p>
					<p>We're Down.</p>
				</div>
			</div>
		</section>
	</section>
	<section class="row" id="officeBreak">
		<div class="col-6" id="officeImg"></div>
		<div class="col-6" id="officeText">
			<p>Duis ultricies euismod luctus. Sed commodo, nisi nec sodales mattis, lacus sapien sagittis mi, nec aliquam ex
				neque sit amet neque. Mauris sed risus vitae tellus sollicitudin tempus. Vestibulum rhoncus mi in lacinia cursus.
				Curabitur felis tortor, placerat et purus eget, interdum mattis leo. Sed ullamcorper metus sit amet tellus
				pulvinar, id eleifend purus laoreet.</p>
		</div>
	</section>
	<section class="row" id="caseStudiesText">
		<div class="taglineMid col-8">
			<p>We help build brands that bring people together!</p>
			<p class="underText">Duis ultricies euismod luctus. Sed commodo, nisi nec sodales mattis, lacus sapien sagittis mi,
				nec aliquam ex
				neque sit amet neque. Mauris sed risus vitae tellus sollicitudin tempus. Vestibulum rhoncus mi in lacinia cursus.
			</p>
		</div>
	</section>
	<section class="row caseStudiesIcons">
		<div class="col-4"><img class="caseIcon" src="/assets/images/Logo3.png" /></div>
		<div class="col-4"><img class="caseIcon" src="/assets/images/Logo4.png" /></div>
		<div class="col-4"><img class="caseIcon" src="/assets/images/Logo6.png" /></div>
	</section>
	<section class="row caseStudiesIcons">
		<div class="col-4"><img class="caseIcon" src="/assets/images/Logo5.png" /></div>
		<div class="col-4"><img class="caseIcon" src="/assets/images/Logo1.png" /></div>
		<div class="col-4"><img class="caseIcon" src="/assets/images/Logo2.png" /></div>
	</section>
	<section class="row" id="caseStudiesContent">
		<div class="col-4" id="caseStudiesContentText">
			<h2>Take a look at<br> some of <br>our most<br>recent work.</h2>
			<p>Duis ultricies euismod luctus. Sed commodo, nisi nec sodales mattis, lacus sapien sagittis mi, nec aliquam ex
				neque sit amet neque. Mauris sed risus vitae tellus sollicitudin tempus. </p>
		</div>
		<div class='col-8' id="caseStudiesContentImages">
			<a href="/portfolio1">
				<div class="col-12 csImg" id="caseStudy1"><img class="csImage" src="/assets/images/kids.jpg" />
					<div class="middleTextCont">
						<div class="middleText">VIEW CASE STUDY</div>
					</div>
				</div>
			</a>
			<a href="/portfolio1">
				<div class="col-12 csImg" id="caseStudy2"><img class="csImage" src="/assets/images/hackers.jpg" />
					<div class="middleTextCont">
						<div class="middleText">VIEW CASE STUDY</div>
					</div>
				</div>
			</a>
		</div>
	</section>
	<section class="row" id="contactFormSection">
		<div class="col-8">
			<form action='/sendMessage' method='post' class='contact-form col-8' id="contactForm" onsubmit="event.preventDefault(); handleMessage();">
				<div class="form-group col-6 contactTop">
					<label for="fname">First name</label>
					<input type="text" class="form-control" id="fname" name="firstname">
				</div>
				<div class="form-group col-6 contactTop" id="lnameCont">
					<label for="fname">Last name</label>
					<input type="text" class="form-control" id="lname" name="firstname">
				</div>
				<div class="form-group col-12">
					<label for="fname">Email address</label>
					<input type="text" class="form-control" id="email" name="email">
				</div>
				<div class="form-group col-12">
					<label for="subject">Tell us about it.</label>
					<textarea id="messageBody" class="form-control" name="messageBody"></textarea>
				</div>
				<input type="submit" value="SEND IT!" id="submitButton">
			</form>
		</div>
		<div class="col-4">
			<h2 id="phoneText">We’d love to know more about your project. Get in touch here or give us a call.</h2>
			<button class="phoneButton">Let's Chat</button>
		</div>
	</section>
	<section id="footerSection" class="col-12">
		<div id="footerContainer">
			<div id="footerLeft">
				<div class="locationCont">
					<p>PHYSICAL</p>
				</div>
				<div id="address">
					<p id="compName">DOWN CREATIVE CO.</p>
					<p>70012th St. Suite 700 NW, Washington, DC 20005</p>
					<p><img class="phoneImg" src="assets/images/phone.png" />(202) 904-2307</p>
				</div>
			</div>
			<div id="footerRight">
				<div class="locationCont">
					<p>DIGITAL</p>
				</div>
				<div id="socialCont">
					<a id="linkedin" href="#" target="_blank"><img src="assets/images/linkedin2.png" /></a>
					<a id="twitter" href="#" target="_blank"><img src="assets/images/twitter2.png" /></a>
					<a id="instagram" href="#" target="_blank"><img src="assets/images/instragram1.png" /></a>
				</div>
			</div>
		</div>
	</section>
</main>