<main class="col-11 mainCol" id="port2main">
  <section class="row" id="port2Top">
    <img src="assets/images/port2banner.png" />
    <h2 id="P2TagTop">Connecting our<br>youth to knowledge.</h2>
    <p id="P2TagSub">BRAND STRATEY & MARKETING STRATEGY</p>
  </section>
  <section class="row" id="port2gray">
    <div class="col-10" id="whiteBlock">
      <p>Duis ultricies euismod luctus. Sed commodo, nisi nec sodales mattis, lacus sapien sagittis mi, nec aliquam ex
        neque sit amet neque. Mauris sed risus vitae tellus sollicitudin tempus. Vestibulum rhoncus mi in lacinia
        cursus. Curabitur felis tortor, placerat et purus eget, interdum mattis leo. Sed ullamcorper metus sit amet
        tellus pulvinar, id eleifend purus laoreet.</p>
    </div>
  </section>
  <section class="row" id="port2device">
    <div class="col-12" id="port2deviceImg"></div>
  </section>
  <section class="row" id="port2mid">
    <div class="col-6" id="port2Text">
      <p>Duis ultricies euismod luctus. Sed commodo, nisi nec sodales mattis, lacus sapien sagittis mi, nec aliquam ex
        neque sit amet neque. Mauris sed risus vitae tellus sollicitudin tempus. Vestibulum rhoncus mi in lacinia
        cursus. Curabitur felis tortor, placerat et purus eget, interdum mattis leo. Sed ullamcorper metus sit amet
        tellus pulvinar, id eleifend purus laoreet.</p>
    </div>
    <div class="col-6" id="port2paper"></div>
  </section>
  <section class="row port2row" id="port2people">
    <div class="col-10" id="port2peopleImg"></div>
  </section>
  <section class="row port2row" id="port2shapes">
    <div class="col-12" id="port2shapesImg">
      <div id="shapesFader"></div>
    </div>
  </section>
  <section class="row port2row" id="port2logos">
    <div class="col-10" id="port2logosImg"></div>
  </section>
  <section class="row port2row" id="port2cards">
    <div class="col-10" id="port2cardsImg"></div>
  </section>
  <section class="row port2row" id="port2plans">
    <div class="col-10" id="port2plansImg"></div>
  </section>
  <section class="row port2row" id="port2pages">
    <div class="col-10" id="port2pagesImg"></div>
  </section>

  <section class="row" id="footerSection">
    <div class="col-12">
      <div id="footerContainer">
        <div id="footerLeft">
          <div class="locationCont">
            <p>PHYSICAL</p>
          </div>
          <div id="address">
            <p id="compName">DOWN CREATIVE</p>
            <p>700 12th St. NW Suite 700 NW, Washington, DC 20005</p>
            <p><img class="phoneImg" src="assets/images/phone.png" />(202) 904-2307</p>
          </div>
        </div>
        <div id="footerRight">
          <div class="locationCont">
            <p>DIGITAL</p>
          </div>
          <div id="socialCont">
            <a id="linkedin" href="#" target="_blank"><img src="assets/images/linkedin2.png" /></a>
            <a id="twitter" href="#" target="_blank"><img src="assets/images/twitter2.png" /></a>
            <a id="instagram" href="#" target="_blank"><img src="assets/images/instragram1.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>