<main class="col-11 mainCol">
	<section class="row" id="port1Top">
		<img src="assets/images/hackers.jpg" />
		<h2 id="HHTagTop">Feeding the hungry</h2>
		<p id="HHTagSub">BRAND STRATEY & WEB DESIGN</p>
	</section>
	<section class="row" id="port1White">
		<div class="col-10" id="grayBlock"></div>
	</section>
	<section class="row" id="port1HH">

	</section>
	<section class="row" id="port1HHQuad">

	</section>
	<section class="row" id="port1HHCTA">

	</section>
	<section class="row" id="port1HHPics">

	</section>

	<section id="footerSection" class="col-12">
		<div id="footerContainer">
			<div id="footerLeft">
				<div class="locationCont">
					<p>PHYSICAL</p>
				</div>
				<div id="address">
					<p id="compName">DOWN CREATIVE CO.</p>
					<p>70012th St. Suite 700 NW, Washington, DC 20005</p>
					<p><img src="assets/images/phone.png" />(202) 904-2307</p>
				</div>
			</div>
			<div id="footerRight">
				<div class="locationCont">
					<p>DIGITAL</p>
				</div>
				<div id="socialCont">
					<a id="linkedin" href="#" target="_blank"><img src="assets/images/linkedin2.png" /></a>
					<a id="twitter" href="#" target="_blank"><img src="assets/images/twitter2.png" /></a>
					<a id="instagram" href="#" target="_blank"><img src="assets/images/instragram1.png" /></a>
				</div>
			</div>
		</div>
	</section>
</main>