<main class="col-11 mainCol">
  <section class="row" id="port1Top">
    <img src="assets/images/hackers.jpg" />
    <h2 id="HHTagTop">Feeding<br>the hungry.</h2>
    <p id="HHTagSub">BRAND STRATEY & WEB DESIGN</p>
  </section>
  <section class="row" id="port1White">
    <div class="col-10" id="grayBlock">
      <p>Duis ultricies euismod luctus. Sed commodo, nisi nec sodales mattis, lacus sapien sagittis mi, nec aliquam ex
        neque sit amet neque. Mauris sed risus vitae tellus sollicitudin tempus. Vestibulum rhoncus mi in lacinia
        cursus. Curabitur felis tortor, placerat et purus eget, interdum mattis leo. Sed ullamcorper metus sit amet
        tellus pulvinar, id eleifend purus laoreet.</p>
    </div>
  </section>
  <section class="row" id="port1HH">
    <div class="col-12" id="port1HHImg"></div>
  </section>
  <section class="row" id="port1HHQuad">
    <div class="col-6" id="hackText">
      <p>Duis ultricies euismod luctus. Sed commodo, nisi nec sodales mattis, lacus sapien sagittis mi, nec aliquam ex
        neque sit amet neque. Mauris sed risus vitae tellus sollicitudin tempus. Vestibulum rhoncus mi in lacinia
        cursus. Curabitur felis tortor, placerat et purus eget, interdum mattis leo. Sed ullamcorper metus sit amet
        tellus pulvinar, id eleifend purus laoreet.</p>
    </div>
    <div class="col-6" id="hackComp"></div>
    <div class="col-6" id="hackLogo"></div>
    <div class="col-6" id="hackShirt"></div>
  </section>
  <section class="row" id="port1HHCTA">
    <h2>“We’d love to know more about your project. Get in touch here or give us a call.”</h2>
  </section>
  <section class="row" id="port1HHPics">
    <div class="col-10 hhPics" id="hh14"></div>
    <div class="col-10 hhPics" id="hhBanner"></div>
    <div class="col-10 hhPics" id="hh15"></div>
    <div class="col-10 hhPics" id="hh16"></div>
  </section>

  <section class="row" id="footerSection">
    <div class="col-12">
      <div id="footerContainer">
        <div id="footerLeft">
          <div class="locationCont">
            <p>PHYSICAL</p>
          </div>
          <div id="address">
            <p id="compName">DOWN CREATIVE</p>
            <p>700 12th St. NW Suite 700 NW, Washington, DC 20005</p>
            <p><img class="phoneImg" src="assets/images/phone.png" />(202) 904-2307</p>
          </div>
        </div>
        <div id="footerRight">
          <div class="locationCont">
            <p>DIGITAL</p>
          </div>
          <div id="socialCont">
            <a id="linkedin" href="#" target="_blank"><img src="assets/images/linkedin2.png" /></a>
            <a id="twitter" href="#" target="_blank"><img src="assets/images/twitter2.png" /></a>
            <a id="instagram" href="#" target="_blank"><img src="assets/images/instragram1.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>