<main class="container-fluid">
  <section class="row topNav">
    <ul class="topNavList">
      <li class="nav-item">
        <a class="nav-link active" href="/">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Process</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Articles</a>
      </li>
    </ul>
  </section>
  <section class="row justify-content-center" id="tagline">
    <div class="col-6">
      <div class="coral taglineTop col-12">
        <p><span id="dash">—</span> A Creative Agency that designs for good</p>
      </div>
      <div class="taglineBottom col-12">
        <p>When it's a cause that really matters...</p>
        <p>We're Down.</p>
      </div>

    </div>
  </section>
</main>