<main class="col-11 mainCol">
  <section class="row">
    <section class="row topNav">
      <ul class="topNavList nav">
        <li class="nav-item" id="about">
          <a class="nav-link active" href="/">About Us</a>
        </li>
        <li class="nav-item" id="process">
          <a class="nav-link" href="/process">Our Process</a>
        </li>
        <li class="nav-item" id="ourWork">
          <a class="nav-link" href="">Our Work</a>
        </li>
        <li class="nav-item" id="articles">
          <a class="nav-link" href="#">Articles</a>
        </li>
        <li class="nav-item coral" id="chat">
          <a class="nav-link" href="/#contactFormSection">Let's Chat</a>
        </li>
      </ul>
    </section>
    <section class="row justify-content-center" id="mainRow">
      <div class="col-1"></div>
      <div class="col-7" id="leftCol">
        <div class="coral taglineTop col-12">
          <p><span id="dash">—</span> A Creative Agency that designs for good</p>
        </div>
        <div class="taglineBottom col-12">
          <p>We’re a team <br>of socially <br>concious <br>creatives with <br>the ability to <br>bring simple <br>solutions
            to <br>complex <br>problems.</p>
        </div>
        <div id="circlesCont">
          <div class="blending circle" id="tealCircle"></div>
          <div class="blending circle" id="coralCircle"></div>
        </div>
      </div>
      <div class="col-3" id="rightCol">
        <div id="researchCont">
          <img src="assets/images/chart1.png" />
          <h3 class="processSteps">1. Research</h3>
          <p class="stepText">Duis ultricies euismod luctus. Sed commodo, nisi nec sodales mattis, lacus sapien
            sagittis mi, nec aliquam ex neque sit amet neque. Mauris sed risus vitae tellus sollicitudin tempus.
            Vestibulum rhoncus mi in lacinia cursus. Curabitur felis tortor, placerat et purus eget, interdum mattis
            leo. Sed ullamcorper metus sit amet tellus pulvinar, id eleifend purus laoreet.</p>
        </div>
        <div id="designCont">
          <img src="assets/images/design1.png" />
          <h3 class="processSteps">1. Research</h3>
          <p class="stepText">Duis ultricies euismod luctus. Sed commodo, nisi nec sodales mattis, lacus sapien
            sagittis mi, nec aliquam ex neque sit amet neque. Mauris sed risus vitae tellus sollicitudin tempus.
            Vestibulum rhoncus mi in lacinia cursus. Curabitur felis tortor, placerat et purus eget, interdum mattis
            leo. Sed ullamcorper metus sit amet tellus pulvinar, id eleifend purus laoreet.</p>
        </div>
        <div id="executionCont">
          <img src="assets/images/execution1.png" />
          <h3 class="processSteps">1. Research</h3>
          <p class="stepText">Duis ultricies euismod luctus. Sed commodo, nisi nec sodales mattis, lacus sapien
            sagittis mi, nec aliquam ex neque sit amet neque. Mauris sed risus vitae tellus sollicitudin tempus.
            Vestibulum rhoncus mi in lacinia cursus. Curabitur felis tortor, placerat et purus eget, interdum mattis
            leo. Sed ullamcorper metus sit amet tellus pulvinar, id eleifend purus laoreet.</p>
        </div>
      </div>
      <div class="col-1"></div>
    </section>
  </section>

  <section class="row">
    <section id="footerSection" class="col-12">
      <div id="footerContainer">
        <div id="footerLeft">
          <div class="locationCont">
            <p>PHYSICAL</p>
          </div>
          <div id="address">
            <p id="compName">DOWN CREATIVE CO.</p>
            <p>70012th St. Suite 700 NW, Washington, DC 20005</p>
            <p><img class="phoneImg" src="assets/images/phone.png" />(202) 904-2307</p>
          </div>
        </div>
        <div id="footerRight">
          <div class="locationCont">
            <p>DIGITAL</p>
          </div>
          <div id="socialCont">
            <a id="linkedin" href="#" target="_blank"><img src="assets/images/linkedin2.png" /></a>
            <a id="twitter" href="#" target="_blank"><img src="assets/images/twitter2.png" /></a>
            <a id="instagram" href="#" target="_blank"><img src="assets/images/instragram1.png" /></a>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>