html {
	/* height: 100%;
	padding: 0; */
}

body {
	/* font-family: 'Open Sans', sans-serif; */
	/* font-family: 'Raleway', sans-serif; */
	/* font-family: 'Noto Sans JP', sans-serif; */
	font-family: 'Nunito Sans', sans-serif;
	color: #fff;
	/* background-color: #051411; */
	background-color: #000;
	font-weight: 400;
}

body::-webkit-scrollbar {
	display: none;
}

.fadeIn>.col-12 {
	opacity: 0;
	animation: new-item-animation 1.5s linear forwards;
}

#tagline .fadeInText {
	overflow: hidden;
	opacity: 0;
	animation: new-item-animation 1.5s linear forwards;
}

.taglineCol {
	margin-left: 8.33%;
	margin-top: 8.33%;
}

.taglineCol2 {
	margin-left: 8.33%;
	margin-top: 8.33%;
	min-width: 1000px;
}

/* #tagline .fadeInText:nth-of-type(1) {
	opacity: 0;
	animation: new-item-animation 1s linear forwards;
}

#tagline .fadeInText:nth-of-type(2) {
	opacity: 0;
	animation: new-item-animation 2s linear forwards;
}

#tagline .fadeInText:nth-of-type(3) {
	opacity: 0;
	animation: new-item-animation 3s linear forwards;
} */

@keyframes new-item-animation {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}


.mainCol {
	padding: 0;
	max-width: calc(100% - 95px);
	flex: 0 0 calc(100% - 95px);
}

.container-fluid {
	padding: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

/*//// DOWN Side Nav /////*/
.navCol {
	max-width: 95px;
	height: 100vh;
	position: -webkit-sticky;
	position: sticky;
	float: left;
	top: 0;
	border-right: 1px solid #FF7C7C;
	padding: 0;
	z-index: 100;
	flex: 0 0 95px;
	/* overflow-x: hidden; */
}


#mobileNavTop {
	display: none;
}

#mobileNavSticky {
	display: none;
	width: 60px;
}

#closeSideNav {
	width: 95px;
	border-right: 1px solid #FF7C7C;
	height: 100vh;
	/* display: inline-block; */
	display: block;
	display: none;
	z-index: 100;
	/* background-color: #051411; */
	background-color: #000;
	float: left;
}

#closeSideNavMobileNav,
#closeSideNavMobileSticky {
	width: 95px;
	border-right: 1px solid #FF7C7C;
	height: 100vh;
	/* display: inline-block; */
	display: block;
	display: none;
	z-index: 100;
	/* background-color: #051411; */
	background-color: #000;
	float: left;
}

#closeSideNav img {
	width: 30px;
	margin: auto;
	/* margin-left: 28px; */
	margin-top: 30px;
	display: block;
}

#closeSideNavMobileNav img,
#closeSideNavMobileSticky img {
	width: 30px;
	margin: auto;
	/* margin-left: 28px; */
	margin-top: 30px;
	display: block;
}

#sideNavCont {
	width: 0;
	display: none;
	background-color: #000;
	transition: 0.5s;
	z-index: 100;
	height: 100vh;
}

#sideNavContMobileTop {
	width: 0;
	display: none;
	/* background-color: #051411; */
	background-color: #000;
	transition: 0.5s;
	z-index: 100;
	height: 100vh;
}

#sideNavCont.activeSideNav {
	width: 101vw;
	height: 101vh;
}

#sideNavContMobileTop.activeSideNav {
	/* width: calc(100vw - 17px); */
	width: 101vw;
	height: 101vh;
}


.sideColCont {
	width: calc(100vw - 190px);
	display: inline-block;
}

.sideNavCol {
	padding: 150px 15px;
	max-width: 33.1%;
	width: calc(33% - 5px);
	height: 100vh;
	border-right: 1px solid #FF7C7C;
	z-index: 100;
	display: inline-block;
}

.sideNavTitle {
	color: #fff;
	z-index: 100;
}

.sideNavTitle>a {
	text-decoration: none;
	color: #fff;
}

.sideNavTitle>a:hover {
	color: #FF7C7C;
}

.sideNavText {
	color: #818181;
	font-size: 16px;
	line-height: 32px;
	z-index: 100;
	padding-right: 30%;
}

#blogLink {
	color: #FF7c7c;
	display: table-cell;
}

#blogLink>a {
	color: #FF7c7c;
	text-decoration: underline;
}

.navPlaceholder {
	height: 100%;
}

.menuIcon {
	width: 100%;
	padding-top: 10px;
	height: 70px;
	margin: auto;
	z-index: 100;
	position: absolute;
	top: 0px;
}

.menuIcon img {
	max-width: 50%;
	margin: 30px auto;
	display: block;
}

.logoImg {
	position: absolute;
	bottom: 50px;
	width: 100%;
}

#activeNavLogo {
	display: inline-block;
	width: 95px;
	height: 100vh;
	position: absolute;
}

.logoImg>a>img {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	bottom: 0;
	display: block;
	position: relative;
}

#activeNavLogo>a {
	width: 100%;
	position: absolute;
	bottom: 50px;
}

#activeNavLogo>a>img {
	position: relative;
	margin: auto;
	display: block;
}

/*/////  GENERAL Header & Footer  /////*/
header {
	width: 100%;
}

.topNav {
	width: 100%;
	/* height: 10px; */
	height: 66px;
}

.topNavList {
	width: 100%;
	margin-top: 30px;
}

.nav {
	padding-left: 15px;
}

.nav-item {
	margin: 0 auto;
}

#about {
	margin-left: 0;
}

li.nav-item>a {
	color: #fff;
	text-decoration: none;
}

li.nav-item>a:hover {
	color: #FF7C7C;
	text-decoration: none;
}

#ourWorkDropdown {
	color: #fff;
	text-decoration: none;
}

#ourWorkDropdown:hover {
	color: #FF7C7C;
	text-decoration: none;
}

.dropdown:hover>.dropdown-menu {
	display: block;
}

.dropdown>.dropdown-toggle:active {
	pointer-events: none;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-menu {
	/* background-color: #051411; */
	background-color: #000;
	margin-top: -10px;
}

#processDropdown {
	margin-top: -15px;
}

.dropdown-item {
	color: #fff;
	/* background-color: #051411; */
	background-color: #000;
	padding-left: 1rem;
}

.dropdown-item:hover {
	background-color: #FF7C7C;
	color: #fff;
}

/*** Alt Nav animation *****/
.snip1226 * {
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	width: 100%;
	margin-top: 30px;
}

.snip1226 {
	margin-top: 30px;
}

.snip1226 li {
	display: inline-block;
	list-style: outside none none;
	margin: 0 auto;
	overflow: hidden;
	width: auto;
}

.snip1226 a {
	padding: 0.3em 0;
	color: #fff;
	position: relative;
	display: inline-block;
	letter-spacing: 1px;
	margin: 0;
	text-decoration: none;
}

.snip1226 a:before,
.snip1226 a:after {
	position: absolute;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.snip1226 a:before {
	bottom: 100%;
	display: block;
	height: 3px;
	width: 100%;
	content: "";
	background-color: #FF7C7C;
}

.snip1226 a:after {
	padding: 0.3em 0;
	position: absolute;
	bottom: 100%;
	left: 0;
	content: attr(data-hover);
	color: #FF7C7C;
	white-space: nowrap;
}

.snip1226 li:hover a,
.snip1226 .current a {
	transform: translateY(100%);
}

#chat {
	text-align: center;
	text-decoration: none;
	color: #ff7c7c;
	width: 120px;
	padding: 3px 15px;
	border-radius: 25px;
	border: solid 3px #ff7c7c;
	margin: auto;
	margin-top: 30px;
	float: right;
}

#chat>a {
	color: #FF7C7C;
}

.coral {
	color: #FF7C7C;
}



/*/////  INDEX/DEFAULT  /////*/
#fullVH {
	height: 95vh;
}

#tagline {
	height: 100%;
}


.taglineTop {
	font-size: 16px;
	padding-left: 0;
}

.mobileDisplay {
	display: none;
}

.taglineBottom {
	font-size: 64pt;
	letter-spacing: 2.2px;
	line-height: 90px;
	font-weight: 400;
	padding-right: 5%;
	padding-left: 0;
}

#officeBreak {
	height: 100vh;
}

#officeImg {
	background-image: url('/assets/images/office.jpg');
	background-size: cover;
	background-position: bottom;
}

#officeText {
	background-color: #fff;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
}

#officeText>p {
	color: #818181;
	width: 50%;
	margin: auto;
	font-size: 16px;
	line-height: 32px;
}

.taglineMid {
	font-size: 64pt;
	letter-spacing: 2.2px;
	line-height: 85px;
	font-weight: 400;
	margin-left: 7%;
	margin-top: 7%;
	padding-left: 0;
}

.underText {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	margin-top: 50px;
	padding-right: 15%;
}

.caseStudiesIcons {
	margin-top: 7%;
	padding-left: 7%;
}

.caseIcon {
	/* filter: invert(53%) sepia(1%) saturate(0%) hue-rotate(174deg) brightness(96%) contrast(85%);
	filter: brightness(0) saturate(100%) invert(84%) sepia(1%) saturate(2232%) hue-rotate(199deg) brightness(120%) contrast(97%); */
	opacity: 0.5;
}

#change1 {
	background-image: url('/assets/images/Logo3.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 80px;
}

#change2 {
	background-image: url('/assets/images/Logo4.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 80px;
}

#change3 {
	background-image: url('/assets/images/Logo6.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 80px;
}

#change4 {
	background-image: url('/assets/images/Logo5.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 80px;
}

#change5 {
	background-image: url('/assets/images/Logo1.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 80px;

	width: 100px;

	margin-left: 92px;
	background-position: center;
}

#change6 {
	background-image: url('/assets/images/Logo2.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 80px;
}

#caseStudiesContent {
	height: 1026px;
	margin-top: 85px;
}

#caseStudiesContentText {
	background-color: #fff;
	padding-top: 50px;
}

#caseStudiesContentText>h2 {
	color: #000;
	width: 293px;
	font-size: 45px;
	font-weight: 400;
	line-height: 45px;
	margin: 50px auto 10px auto;
}

#caseStudiesContentText>p {
	width: 293px;
	padding-right: 25px;
	margin: auto;
	font-size: 16px;
	color: #c8c8c8;
}

#viewInstructions {
	display: none;
}

#caseStudiesContentImages {
	padding: 0;
}

.csImg {
	background-color: #FF7C7C;
	padding: 0;
	height: 513px;
	transition: .5s ease;
	overflow: hidden;
}

.csImg>img {
	width: 100%;
}

.csImg:hover .csImage {
	opacity: 0.3;
}

#caseStudy2>img {
	position: relative;
	width: 132%;
	right: 32%;
}

.middleTextCont {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.middleText {
	color: #fff;
	font-size: 16px;
}

.csImg:hover .middleTextCont {
	opacity: 1;
}

/* #caseStudy1 {
	background-image: url('/assets/images/kids.jpg')
}

#caseStudy2 {
	background-image: url('/assets/images/hackers.jpg')
} */

/*/////  Side Nav  /////*/


/*/////  ABOUT PAGE  /////*/
#aboutBenner {}

#aboutBannerImg {
	height: 790px;
	background-image: url('/assets/images/aboutBanner.png');
	background-size: cover;
}

#staffSection {
	margin-top: 125px;
	margin-bottom: 125px;
	border-bottom: 1px solid #FF7C7C;
}

#staffSection .col-md-5 {
	margin-bottom: 75px;
}

.staffPic {
	height: 300px;
	background-image: url('/assets/images/fillerHead.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.staffName {
	text-align: center;
	color: #fff;
	margin: auto;
	margin-top: 25px;
}

.staffPosition {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin: auto;
}

.staffPosition span {
	text-transform: lowercase;
}

/*///// PROCESS Page /////*/
#processRow {
	border-bottom: 1px solid #FF7C7C;
}

#mainRow {
	margin-bottom: 500px;
}

#mainRow .taglineBottom {
	font-size: 53px;
	margin-bottom: 100px;
	line-height: 55px;
	letter-spacing: 0.1em;
	padding-left: 0;
}

#leftCol {
	padding-top: 75px;
}

#processTopCont {
	padding-left: 50px;
}

#processTopCont>.taglineTop {
	margin-top: 15%;
}

#researchCont {
	margin-top: 300px;
}

#designCont {
	margin-top: 75px;
}

#executionCont {
	margin-top: 75px;
}

.processSteps {
	color: #fff;
	margin-top: 25px;
	margin-bottom: 40px;
}

.stepText {
	color: #818181;
	font-size: 16px;
	line-height: 32px;
}

#circlesCont {
	margin-top: 250px;
}

.blending {
	mix-blend-mode: multiply;
}

.circle {
	width: 469px;
	height: 469px;
	border-radius: 50%;
	margin: auto;
}

#tealCircle {
	background-color: rgba(68, 215, 188, 0.75);
}

#coralCircle {
	margin-top: -100px;
	background-color: rgba(255, 124, 124, 0.75)
}

/*///// CONTACT Component /////*/
#contactFormSection {
	padding-top: 75px;
	height: 726px;
	border-bottom: 1px solid #FF7C7C;
}

#contactForm {
	margin: auto;
}

#fname {}

#mobileContactText {
	display: none;
}

#desktopContactText {
	display: block;
}



#submitButton {
	width: 251px;
	height: 56px;
	background-color: #FF7C7C;
	color: #fff;
	padding: 0 15px;
	border-radius: 25px;
	border: none;
	margin-left: 15px;
}

.contactTop {
	display: inline-block;
}

#lnameCont {
	float: right;
}

#messageBody {
	height: 230px;
}

#phoneText {
	color: #fff;
	width: 60%;
	margin-top: 25px;
}

.phoneButton {
	width: 135px;
	height: 46px;
	margin-top: 30px;
	/* background-color: #051411; */
	background-color: #000;
	color: #FF7C7C;
	padding: 0 15px;
	border-radius: 25px;
	border: solid 3px #ff7c7c
}


/*///// FOOTER Section /////*/
#footerSection {
	/* background-color: #051411; */
	background-color: #000;
	height: 100vh;
}

#footerSection>.col-12 {
	margin: auto;
}

#footerContainer {
	margin: auto;
	/* margin-top: 150px;
	margin-bottom: 150px; */
	width: 875px;
	border: solid 1px #ff7c7c;
	height: 161px;
}

#footerContainer2 {
	border: solid 1px #ff7c7c;
	height: 161px;
	margin: auto;
	padding: 0;
}

.locationCont {
	position: relative;
	width: 113px;
	height: 25px;
	top: -1px;
	left: 0;
	margin-left: -1px;
	background-color: #FF7C7C;
	/* color: #051411; */
	color: #000;
	text-align: center;
}

#address {
	color: #fff;
	width: 425px;
	margin: auto;
	margin-top: 25px;
}

#address p {
	margin-bottom: 0;
}

.phoneImg {
	margin-right: 5px;
}

#footerLeft {
	float: left;
	height: 161px;
	width: 624px;
	border-right: 1px solid #FF7C7C;
}

#footerLeft2 {
	height: 161px;
	border-right: 1px solid #FF7C7C;
	padding: 0;
}

#footerRight {
	width: 249px;
	height: 161px;
	float: left;
}

#footerRight2 {
	height: 161px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#socialCont {
	margin: 45px;
	margin-right: 0;
	margin-left: 20%;
	width: 80%;
}

#socialCont a {
	width: 45px;
}

#socialCont img {
	height: 45px;
	width: 45px;
}

#twitter {
	margin: 0 20px;
}

#instagram img {
	border-radius: 25px;
}


/*/////  PORTFOLIO1 PAGE  /////*/
#port1Top img {
	opacity: 0.6;
	width: 100%;
	display: none;
}

#port1TopImg {
	background-image: url('/assets/images/hackers.jpg');
	opacity: 0.6;
	background-size: cover;
	background-position: center;
	height: 75vh;
	width: 100%;
}

#portTagTopCont {
	position: absolute;
	margin-top: 10%;
	margin-left: 8.5%;
}

#HHTagTop {
	font-size: 80px;
	font-weight: 400;
	line-height: 86px;
	letter-spacing: 2.2px;
}

#HHTagSub {
	color: #05DE88;
}

#port1White {
	background-color: #fff;
}

#grayBlock {
	background-color: #e9e9e9;
	color: #000;
	height: 770px;
	margin: auto;
	margin-top: -100px;
}

#grayBlock p {
	color: #818181;
	width: 66.5%;
	margin: auto;
	margin-top: 8.5%;
}

#port1HHImg {
	height: 730px;
	background-image: url('/assets/images/hack1.png');
}

#hackText {
	align-items: center;
	display: flex;
	height: 742px;
}

#hackText p {
	color: #fff;
	width: 342px;
	height: 271px;
	margin: auto;
}

#hackComp {
	height: 742px;
	background-image: url('/assets/images/hackq2.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#hackLogo {
	height: 647px;
	background-image: url('/assets/images/hackq3.png');
}

#hackShirt {
	height: 647px;
	background-image: url('/assets/images/hackq4.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#port1HHCTA h2 {
	width: 795px;
	margin: 100px auto;
}

.hhPics {
	margin: auto;
	margin-bottom: 75px;
}

#hh14 {
	height: 556px;
	background-image: url('/assets/images/hack14.png');
	background-repeat: no-repeat;
	background-position: bottom;
}

#hhBanner {
	height: 556px;
	background-image: url('/assets/images/hackers.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#hh15 {
	height: 556px;
	background-image: url('/assets/images/hack15.png');
	background-repeat: no-repeat;
	background-position: bottom;
}

#hh16 {
	height: 556px;
	background-image: url('/assets/images/hack16.png');
	background-repeat: no-repeat;
	background-position: bottom;
}

#port1HHPics {
	border-bottom: 1px solid #FF7C7C;
}

/*////// PORTFOLIO 2 /////*/
#port2main {
	/* background-color: #051411; */
	background-color: #000;
}

#port2Top img {
	width: 100%;
	display: none;
}

#port2TopImg {
	background-image: url('/assets/images/port2banner.png');
	opacity: 0.6;
	background-size: cover;
	background-position: center;
	height: 75vh;
	width: 100%;
}

#P2TagTop {
	/* position: absolute;
	margin: 230px 190px; */
	font-size: 80px;
	font-weight: 400;
	line-height: 86px;
	letter-spacing: 2.2px;
}

#P2TagSub {
	/* position: absolute;
	margin: 430px 195px; */
	color: #FEE861;
}

#port2gray {
	background-color: #FBFBFB;
}

#whiteBlock {
	background-color: #fff;
	color: #818181;
	height: 770px;
	margin: auto;
	margin-top: -100px;
}

#whiteBlock p {
	/* width: 80%;
	margin: auto;
	margin-top: 137px; */
	width: 66.5%;
	margin: auto;
	margin-top: 8.5%;
}

#port2device {}

#port2deviceImg {
	height: 722px;
	background-image: url('/assets/images/port2device.png');
}

#port2mid {}

#port2deviceImg {}

#port2mid {
	height: 654px;
}

#port2Text {
	background-color: #13ACCA;
	color: #fff;
	align-items: center;
	display: flex;
}

#port2Text p {
	width: 60%;
	margin: auto;
}

.port2row .col-10 {
	margin: auto;
	margin-bottom: 75px;
}

#port2paper {
	background-image: url('/assets/images/port2paper.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#port2people {
	background-color: #FBFBFB;
}

#port2peopleImg {
	height: 707px;
	background-image: url('/assets/images/port2people.png');
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-size: auto;
	background-position: center;
}

#port2shapesImg {
	height: 708px;
	background-image: url('/assets/images/port2shapes.png');
	background-position: center;
}

#shapesFader {
	height: 346px;
	width: 100%;
	z-index: 3;
	bottom: 0;
	position: absolute;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	width: calc(100% - 15px);
}

#port2logos,
#port2cards,
#port2plans,
#port2pages {
	padding-top: 75px;
	background-color: #fff;
}

#port2logosImg {
	height: 556px;
	background-image: url('/assets/images/port2logos.png');
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-size: auto;
	background-position: center;
}

#port2cardsImg {
	height: 579px;
	background-image: url('/assets/images/port2cards.png');
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-size: auto;
	background-position: center;
}

#port2plansImg {
	height: 579px;
	background-image: url('/assets/images/port2plans.png');
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-size: auto;
	background-position: center;
}

#port2pagesImg {
	height: 579px;
	background-image: url('/assets/images/port2pages.png');
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-size: auto;
	background-position: center;
}

/*---Media Queries--*/

@media only screen and (max-width: 768px) {
	html {
		width: 100%;
	}

	#desktopNav {
		display: none;
	}


	#mobileNavTop {
		display: block;
		display: block;
		flex: 0 0 16.66%;
	}

	#mobileNavSticky {
		z-index: 1000;
		background-color: none;
		border: none;
		/* for now, display none */
		display: none;
		position: sticky;
	}

	#mobileStickyNavMenu {
		width: 55px;
	}

	.topNav {
		display: none;
	}

	.desktopDisplay {
		display: none;
	}

	.mobileDisplay {
		display: block;
		font-size: 0.9rem;
	}

	.mobileDisplay>p {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0;
	}

	.taglineCol {
		margin-left: 0;
		margin-top: 40%;
	}

	.taglineCol2 {
		margin-left: 0;
		margin-top: 45%;
		min-width: auto;
	}

	.taglineBottom {
		font-size: 31px;
		line-height: 35px;
	}

	#tagline>.taglineBottom>.taglineBottom {
		font-size: 26px;
	}


	.fadeInText>span {
		display: inline-block;
	}

	.fadeIn .navCol {
		max-width: 65px;
		position: relative;
	}

	#closeSideNavMobileNav>img {
		margin-top: 15px;
	}

	.menuIcon>img {
		margin-top: 13px;
	}

	.logoImg {
		bottom: 5vh;
	}

	.logoImg>a>img {
		max-width: 65%;
	}

	/* .sideNavCont {
		width: 100vw;
		height: 102vh;
		background-color: blue;
	} */
	.sideNavContMobileTop {
		width: 100vw;
		height: 102vh;
		background-color: blue;
	}

	.sideColCont {
		padding-top: 15%;
		width: calc(100vw - 65px);
	}

	.sideNavCol {
		max-width: 65px;
		width: 65px;
		height: 25vh;
		padding: 0 10%;
		border-right: none;
		max-width: 100%;
		width: 100%;
	}

	.sideNavText {
		line-height: 24px;
		padding-right: 0%;
	}

	#blogLink {
		margin-top: 25%;
		display: block;
	}

	#closeSideNav {
		max-width: 65px;
	}

	#closeSideNavMobileNav {
		max-width: 65px;
	}

	#activeNavLogo {
		display: none;
	}

	.mainCol {
		max-width: 100%;
		flex: 0 0 calc(100%);
	}

	#fullVH {
		height: 101vh;
		width: 100%;
		z-index: 0;
		position: absolute;
	}

	/* Until I finalize the sticky nav logic */
	#fullVH {
		position: relative;
	}

	/* main section of home page */
	#officeBreak {
		height: auto;
		clear: both;
	}

	#officeImg {
		background-image: url('/assets/images/office-mobile.png');
		height: 415px;
	}

	#officeText {
		height: 415px;
		overflow: hidden;
	}

	.taglineMid {
		font-size: 31px;
		line-height: 35px;
		margin: auto;
		margin-top: 15%;
	}

	.caseStudiesIcons {
		margin-top: 20%;
	}

	#change1 {
		background-image: url('/assets/images/Logo4.png');
		background-size: contain;
		background-repeat: no-repeat;
		height: 78px;
	}

	#change2 {
		background-image: url('/assets/images/Logo3.png');
		background-size: contain;
		background-repeat: no-repeat;
		height: 78px;
		background-position: center;
	}

	#change3 {
		margin-top: 20%;
		background-image: url('/assets/images/Logo5.png');
		background-size: contain;
		background-repeat: no-repeat;
		height: 78px;
	}

	#change4 {
		background-image: url('/assets/images/Logo2.png');
		background-size: contain;
		background-repeat: no-repeat;
		height: 78px;
	}

	#change5 {
		background-image: url('/assets/images/Logo6.png');
		background-size: contain;
		background-repeat: no-repeat;
		height: 78px;
		margin-left: 0;
		width: auto;
	}

	#change6 {
		margin-top: 20%;
		background-image: url('/assets/images/Logo1.png');
		background-size: contain;
		background-repeat: no-repeat;
		height: 78px;
		margin-top: 45%
	}

	#caseStudiesContent {
		height: auto;
	}

	#caseStudiesContentText>p {
		margin-top: 50px;
		margin-bottom: 100px;
		color: #818181;
	}

	p#viewInstructions {
		display: block;
		color: #ff7c7c;
		font-size: 12px;
		margin-bottom: 35px;
	}

	.middleText {
		display: none;
	}

	.csImg {
		height: auto;
	}

	#contactFormSection {
		height: auto;
		padding-bottom: 100px;
	}

	#mobileContactText {
		display: block;
		margin-bottom: 100px;
	}

	#desktopContactText {
		display: none;
	}

	#phoneText {
		width: 74%;
		margin-left: 5%;
		padding-left: 15px;
	}

	.phoneButton {
		width: 50%;
		padding: 10px 25px;
		margin-left: calc(5% + 15px);
	}

	#submitButton {
		margin-top: 35px;
	}

	#footerSection {
		height: auto;
		padding: 200px 0;
	}

	#footerContainer2 {
		height: auto;
	}

	#footerLeft2 {
		border: none;
		border-bottom: 1px solid #FF7C7C;
		height: 223px;
	}

	#footerRight2 {
		height: 161px;
		position: relative;
	}

	#address {
		width: 82%;
		font-size: 20px;
	}

	/*  port1 */
	#portTagTopCont {
		margin-top: 30%;
	}

	#HHTagTop {
		font-size: 31px;
		line-height: 35px;
	}

	#HHTagSub {}

	#port1HHImg {
		height: 300px;
		background-position: center;
		background-size: cover;
		margin-top: 50px;
	}

	#hackText {
		height: 500px;
	}

	#hackText>p {
		width: 170px;
	}

	#hackComp {
		background-position: center;
		background-size: 100%;
		height: 350px;
	}

	#hackLogo {
		height: 350px;
		background-size: cover;
	}

	#hackShirt {
		height: 350px;
		background-size: cover;
	}

	#port1HHCTA>h2 {
		width: 75%;
		text-align: center;
		font-size: 1.8rem;
	}

	#hh14,
	#hhBanner,
	#hh15,
	#hh16 {
		height: 200px;
		margin-bottom: 0;
		background-size: cover;
	}

	/* port2 */
	#P2TagTop {
		font-size: 31px;
		line-height: 35px;
	}

	#P2TagSub {}

	#port2deviceImg {
		background-size: cover;
		height: 350px;
		background-repeat: no-repeat;
		background-position: center;
	}

	#port2paper {
		min-height: 350px;
		height: 400px;
	}

	#port2peopleImg {
		background-size: contain;
		height: 350px;
	}

	#port2shapesImg {
		background-size: contain;
		height: 350px;
		padding: 0;
	}

	#shapesFader {
		height: 55%;
		width: 100%;
	}

	#port2logos {
		background-size: contain;
		height: 350px;
		padding: 0;
	}

	#port2logosImg {
		background-size: cover;
		height: 350px;
		padding: 0;
	}

	#port2cards {
		padding: 0;
	}

	#port2cardsImg {
		background-size: contain;
		height: 350px;
	}

	#port2plans {
		padding: 0;
	}

	#port2plansImg {
		background-size: cover;
		height: 350px;
	}

	#port2pages {
		padding: 0;
	}

	#port2pagesImg {
		background-size: contain;
		height: auto;
		min-height: 250px;
	}

	/* about */
	#tagline.taglineAbout {
		width: 100%;
		height: 100%;
	}

	.tagline2>.taglineBottom {
		font-size: 26px;
	}

	.tagline2>.mobileDisplay {
		font-size: 12px;
		line-height: 16px;
	}

	#aboutBannerImg {
		background-size: contain;
		background-repeat: no-repeat;
		height: 275px;
	}

	#staffSection {
		margin-top: 75px;
		margin-bottom: 0px;
	}

	#staffSection .col-12 {
		padding-bottom: 75px;
	}

	/**** Research how flex: 0 0 95px works
		seems like flex is key to WHY THE FUCK MOBILE is so cray ***/
}

@media only screen and (min-width: 1081px) {
	.sideNavCol {
		width: 33.1%;
	}
}

/*
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 640px) {
}
*/