html {
	/* height: 100%;
	padding: 0; */
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background-color: #051411;
}

.mainCol {
	padding: 0;
}

.container-fluid {
	padding: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

/*//// DOWN Side Nav /////*/
.navCol {
	width: 100px;
	height: 100vh;
	position: -webkit-sticky;
	position: sticky;
	float: left;
	top: 0;
	border-right: 1px solid #FF7C7C;
	padding: 0
}

.navPlaceholder {
	height: 100%;
}

.menuIcon {
	width: 80%;
	padding-top: 10px;
	height: 70px;
	margin: auto;
}

.menuIcon img {
	max-width: 100%;
	margin: 27px auto;
	display: block;
}

.logoImg {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.logoImg>img {
	margin: auto;
	display: block;
}

/*/////  GENERAL Header & Footer  /////*/
header {
	width: 100%;
}

.topNav {
	width: 100%;
}

.topNavList {
	width: 100%;
	margin-top: 30px;
}

.nav-item {
	margin: 0 auto;
}

li.nav-item>a {
	color: #fff;
	text-decoration: none;
}

li.nav-item>a:hover {
	color: #FF7C7C;
	text-decoration: none;
}

#chat {
	padding: 0 15px;
	border-radius: 25px;
	border: solid 3px #ff7c7c
}

#chat>a {
	color: #FF7C7C;
}

.coral {
	color: #FF7C7C;
}

footer {}

/*/////  INDEX/DEFAULT  /////*/
#fullVH {
	height: 100vh;
}

#tagline {
	/* height: 100%; */
	height: 89%;
}

.taglineTop {
	font-size: 16px;
}

.taglineBottom {
	font-size: 64pt;
	letter-spacing: 2.2px;
	line-height: 85px;
	font-weight: 700;
	padding-right: 5%;
}

#officeBreak {
	height: 100vh;
}

#officeImg {
	background-image: url('/assets/images/office.jpg');
	background-size: cover;
	background-position: bottom;
}

#officeText {
	background-color: #fff;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
}

#officeText>p {
	color: #818181;
	width: 50%;
	margin: auto;
	font-size: 16px;
	line-height: 32px;
}

.taglineMid {
	font-size: 64pt;
	letter-spacing: 2.2px;
	line-height: 85px;
	font-weight: 700;
	margin-left: 7%;
	margin-top: 7%;
}

.underText {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	margin-top: 50px;
	padding-right: 15%;
}

.caseStudiesIcons {
	margin-top: 7%;
	padding-left: 7%;
}

.caseIcon {
	filter: invert(53%) sepia(1%) saturate(0%) hue-rotate(174deg) brightness(96%) contrast(85%);
	filter: brightness(0) saturate(100%) invert(84%) sepia(1%) saturate(2232%) hue-rotate(199deg) brightness(120%) contrast(97%);
}

#caseStudiesContent {
	height: 1026px;
	margin-top: 85px;
}

#caseStudiesContentText {
	background-color: #fff;
	padding-top: 50px;
}

#caseStudiesContentText>h2 {
	color: #000;
	width: 293px;
	font-size: 45px;
	font-weight: 400;
	line-height: 45px;
	margin: 50px auto 10px auto;
}

#caseStudiesContentText>p {
	width: 293px;
	padding-right: 25px;
	margin: auto;
	font-size: 16px;
	color: #c8c8c8;
}

#caseStudiesContentImages {
	padding: 0;
}

.csImg {
	background-color: #FF7C7C;
	padding: 0;
	height: 513px;
	transition: .5s ease;
	overflow: hidden;
}

.csImg>img {
	width: 100%;
}

.csImg:hover .csImage {
	opacity: 0.3;
}

#caseStudy2>img {
	position: relative;
	width: 132%;
	right: 32%;
}

.middleTextCont {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.middleText {
	color: #fff;
	font-size: 16px;
}

.csImg:hover .middleTextCont {
	opacity: 1;
}

/* #caseStudy1 {
	background-image: url('/assets/images/kids.jpg')
}

#caseStudy2 {
	background-image: url('/assets/images/hackers.jpg')
} */

/*/////  Side Nav  /////*/


/*/////  ABOUT PAGE  /////*/


/*///// CONTACT Component /////*/
#contactFormSection {
	margin-top: 75px;
	height: 726px;
	border-bottom: 1px solid #FF7C7C;
}

#contactForm {
	margin: auto;
}

#fname {}

#submitButton {
	width: 251px;
	height: 56px;
	background-color: #FF7C7C;
	color: #fff;
	padding: 0 15px;
	border-radius: 25px;
	border: none;
	margin-left: 15px;
}

.contactTop {
	display: inline-block;
}

#lnameCont {
	float: right;
}

#messageBody {
	height: 230px;
}

#phoneText {
	color: #fff;
	width: 60%;
	margin-top: 25px;
}

.phoneButton {
	width: 135px;
	height: 46px;
	margin-top: 30px;
	background-color: #000;
	color: #FF7C7C;
	padding: 0 15px;
	border-radius: 25px;
	border: solid 3px #ff7c7c
}


/*///// FOOTER Section /////*/
#footerSection {
	background-color: #000;
}

#footerContainer {
	margin: auto;
	margin-top: 75px;
	margin-bottom: 150px;
	width: 875px;
	border: solid 1px #ff7c7c;
	height: 161px;
}

.locationCont {
	position: relative;
	width: 113px;
	height: 25px;
	top: 0;
	left: 0;
	background-color: #FF7C7C;
	color: #000;
	text-align: center;
}

#address {
	color: #fff;
	width: 425px;
	margin: auto;
	margin-top: 25px;
}

#address p {
	margin-bottom: 0;
}

#footerLeft {
	float: left;
	height: 161px;
	width: 624px;
	border-right: 1px solid #FF7C7C;
}

#footerRight {
	width: 249px;
	height: 161px;
	float: left;
}

#socialCont {
	margin: 45px;
	margin-right: 0;
}

#socialCont a {
	width: 45px;
}

#socialCont img {
	height: 45px;
	width: 45px;
}

#twitter {
	margin: 0 10px;
}

#instagram img {
	border-radius: 25px;
}


/*/////  PORTFOLIO1 PAGE  /////*/
#port1Top img {
	opacity: 0.6;
	width: 100%;
}

#HHTagTop {
	position: absolute;
	margin: 230px 190px;
	font-size: 80px;
	font-weight: 400;
	line-height: 86px;
	letter-spacing: 2.2px;
}

#HHTagSub {
	position: absolute;
	margin: 430px 195px;
	color: #05DE88;
}

#port1White {
	background-color: #fff;
}

#grayBlock {
	background-color: #e9e9e9;
	color: #000;
	height: 770px;
	margin: auto;
	margin-top: -137px;
}

#grayBlock p {
	color: #818181;
}

#port1HHImg {
	height: 730px;
	background-image: url('/assets/images/hack1.png');
}

#hackText {
	align-items: center;
	display: flex;
	height: 742px;
}

#hackText p {
	color: #fff;
	width: 342px;
	height: 271px;
	margin: auto;
}

#hackComp {
	height: 742px;
	background-image: url('/assets/images/hackq2.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#hackLogo {
	height: 647px;
	background-image: url('/assets/images/hackq3.png');
}

#hackShirt {
	height: 647px;
	background-image: url('/assets/images/hackq4.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#port1HHCTA h2 {
	width: 795px;
	margin: 100px auto;
}

.hhPics {
	margin: auto;
	margin-bottom: 75px;
}

#hh14 {
	height: 556px;
	background-image: url('/assets/images/hack14.png');
	background-repeat: no-repeat;
	background-position: bottom;
}

#hhBanner {
	height: 556px;
	background-image: url('/assets/images/hackers.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#hh15 {
	height: 556px;
	background-image: url('/assets/images/hack15.png');
	background-repeat: no-repeat;
	background-position: bottom;
}

#hh16 {
	height: 556px;
	background-image: url('/assets/images/hack16.png');
	background-repeat: no-repeat;
	background-position: bottom;
}

#port1HHPics {
	border-bottom: 1px solid #FF7C7C;
}

/*////// PORTFOLIO 2 /////*/
#port2main {
	background-color: #000;
	;
}

#port2Top img {
	width: 100%;
}

#P2TagTop {
	position: absolute;
	margin: 230px 190px;
	font-size: 80px;
	font-weight: 400;
	line-height: 86px;
	letter-spacing: 2.2px;
}

#P2TagSub {
	position: absolute;
	margin: 430px 195px;
	color: #FEE861;
}

#port2gray {
	background-color: #FBFBFB;
}

#whiteBlock {
	background-color: #fff;
	color: #818181;
	height: 770px;
	margin: auto;
	margin-top: -137px;
}

#whiteBlock p {
	width: 80%;
	margin: auto;
	margin-top: 137px;
}

#port2device {}

#port2deviceImg {
	height: 722px;
	background-image: url('/assets/images/port2device.png');
}

#port2mid {}

#port2deviceImg {}

#port2mid {
	height: 654px;
}

#port2Text {
	background-color: #13ACCA;
	color: #fff;
	align-items: center;
	display: flex;
}

#port2Text p {
	width: 60%;
	margin: auto;
}

.port2row .col-10 {
	margin: auto;
	margin-bottom: 75px;
}

#port2paper {
	background-image: url('/assets/images/port2paper.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#port2people {
	background-color: #FBFBFB;
}

#port2peopleImg {
	height: 707px;
	background-image: url('/assets/images/port2people.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#port2shapesImg {
	height: 708px;
	background-image: url('/assets/images/port2shapes.png');
	background-position: center;
}

#port2logos,
#port2cards,
#port2plans,
#port2pages {
	padding-top: 75px;
	background-color: #fff;
}

#port2logosImg {
	height: 556px;
	background-image: url('/assets/images/port2logos.png');
	background-repeat: repeat;
	background-repeat: no-repeat;
	background-size: cover;
}

#port2cardsImg {
	height: 579px;
	background-image: url('/assets/images/port2cards.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#port2plansImg {
	height: 579px;
	background-image: url('/assets/images/port2plans.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#port2pagesImg {
	height: 579px;
	background-image: url('/assets/images/port2pages.png');
	background-repeat: no-repeat;
	background-size: cover;
}

/*---Media Queries--*/
/*
@media only screen and (max-width: 980px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 640px) {
}
*/